[submodule "applicant-service"]
	path = applicant-service
	url = https://github.com/mcittkmims/applicant-service.git
[submodule "credential-service"]
	path = credential-service
	url = https://github.com/mcittkmims/credential-service.git
[submodule "server-rules-service"]
	path = server-rules-service
	url = git@github.com:MaxNoragami/server-rules-service.git
[submodule "university-record-service"]
	path = university-record-service
	url = git@github.com:MaxNoragami/university-record-service.git
[submodule "discord-dms-service"]
	path = discord-dms-service
	url = git@github.com:andyp1xe1/pad-discord-dms-service.git
[submodule "moderation-service"]
	path = moderation-service
	url = git@github.com:andyp1xe1/pad-moderation-service.git
[submodule "player-service"]
	path = player-service
	url = https://github.com/Tirppy/student-id-player-service.git
[submodule "session-service"]
	path = session-service
	url = https://github.com/Tirppy/student-id-session-service.git
