[submodule "applicant-service"]
	path = applicant-service
	url = https://github.com/mcittkmims/applicant-service.git
[submodule "credential-service"]
	path = credential-service
	url = https://github.com/mcittkmims/credential-service.git
[submodule "server-rules-service"]
	path = server-rules-service
	url = https://github.com/MaxNoragami/server-rules-service
[submodule "university-record-service"]
	path = university-record-service
	url = https://github.com/MaxNoragami/university-record-service
[submodule "moderation-service"]
	path = moderation-service
	url = git@github.com:andyp1xe1/pad-moderation-service.git
